{% extends 'layout.html' %}
{% block content %}
  <div class="user-post">
    <h3>{{ post.text }}</h3>
    by <b><small>{{ post.author }}</small></b>
    on <b><small>{{ post.date_added }}</small></b>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Post">
  </form>
  {% for comment in post.comments.all %}
    <p><b>{{ comment.author }}</b>: {{ comment.text }}</p>
  {% endfor %}
  <a href="{% url 'index' %}"><small>Back</small></a>
{% endblock %}
